
body {
  background: url('https://t3.ftcdn.net/jpg/04/65/23/72/240_F_465237236_NKKcSkBbOuyCeB2IrMRlfiW9wmGKD4Ci.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 600px;
  border: 3px solid #373789;
  box-shadow: 0 0 40px #373789;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 40px; 
  margin-top: 75px;
  
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 40px; 
}


input {
  width: auto;
  border: 1px solid #373789; 
  box-shadow: 0 0 10px #373789;
}

select {
  width: 40%;
  border: 1px solid #373789; 
  box-shadow: 0 0 10px #373789;
  border-radius: 40px;
}


textarea {
  width: 50%;
  border: 1px solid #373789; 
  box-shadow: 0 0 10px #373789;
  resize: vertical;
  border-radius: 40px;
}

div.form-group > div {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

span {
  margin-left: 5px;
}

button {
  background-color: #373789;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(87, 83, 155, 0.1); 
}

button:hover {
  background-color: #45a049;
}


input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}


input[type="radio"] + span,
input[type="checkbox"] + span {
  margin-left: 5px;
}


textarea {
  border: 1px solid #373789; 
  padding: 8px;
  box-shadow: 0 0 10px #373789; 
  border-radius: 70px; 
}


select {
  border: 1px solid #373789; 
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #373789; 
  border-radius: 70px; 
}
@media (max-width: 768px) {
  .form-container {
    max-width: 80%; 
  }
}
