* {
	margin: auto;
	padding: 0;
	box-sizing: border-box;
  }
  
  .container{
	display:flex;
  }
 
  main{
	width: 100%;
	padding: 20px;
  }
  .sidebar{
	color: #fff;
	height: 1500px;
	width: 70px;
	transition: all 0.5s;
	background-color: #29335c; /* Change background color to blue */
	position: fixed; /* Fix the sidebar to the top */
	top: 0; /* Set the top position to 0 */
	left: 0; 
	margin-top: 80px;
	margin-bottom: auto;/* Set the left position to 0 */
	  
  }
  .top_section{
	display: flex;
	align-items:center;
	padding:20px 15px;
  }
  .logo{
	font-size: 30px;
  }
  .bars{
	display: flex;
	font-size: 25px;
	margin-left: 50px;
  }
  .link{
	display: flex;
	color: #fff;
	padding: 10px 15px;
	gap: 15px;
	transition: all 0.5s;
  }
  .link:hover{
	background:#bfdcff;
	color: 	#000000;
	transition: all 0.5s;
  }
  .active{
	background: #bfdcff;
	color: 	#000000;
  }
  .icon, .link_text{
	font-size: 20px;
  }
  
  .footer {
	background-color:#1a0829;
	color: #fff;
	padding: 10px;
	text-align: center;
	height: 60px;
  }